<%- include ('header.ejs') %>


  <form action="/tim" method="post" >
     <label class="form-label">Tên nv cần tìm </label>
    <input type="text" name="txtTen" class="form-control"> <br>
    <button class="btn btn-danger container-fluid">Tìm</button>
  </form>
  
<%- include ('footer.ejs') %>
